<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Our Diary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
       
        <a class="nav-link" href="/write">Write <i class="fa-solid fa-pencil text-primary bg-warning"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Read</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{#if user}}
{{user.username}}

{{else}}
Account
        {{/if}}


        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#if user}}
          <a class="dropdown-item" href="/logout">Logout</a>        
          {{else}}
          <a class="dropdown-item" href="/login">Login</a>        

          {{/if}}
        </div>
      </li>
  
    </ul>
  
  </div>
</nav>