<section class="noAccount container-fluid d-flex justify-content-center align-items-center">
  <h2>
        <alert class="alert">
        Login first to enter and see diary
    </alert>
  </h2>
</section>