<section class="vh-100" id="signup">
  <div class="container-fluid">
    <div class="row mx-auto">
      <div class="col-sm-10 mx-auto text-black mt-5">

      
      <div class="row">
          <h3 class="mx-auto text-uppercase login-now-header">signup now</h3>
      </div>


          <form method="post" action="/signup">


            <div class="form-outline mb-4">
              <label class="form-label" for="username">username</label>
              <input required type="text" id="username" style=" background-color:#121212;color:#c7bfaf;" name="username" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>
              <input required type="password"style=" background-color:#121212;color:#c7bfaf;" id="password" name="password" class="form-control form-control-lg" />
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-lg btn-block" type="submit">signup</button>
            </div>

            <p>Already have an account? <a href="/login" class="link-info">Signin here</a></p>

          </form>


   
    </div>
  </div>
</section>